// If you're considering changing this, be careful not to violate licence terms.
.enketo-power
  span(data-i18n='enketo.power')= t('enketo.power')  
  a(href="https://enketo.org", title="enketo.org website")
    img(src="", alt="Enketo logo")

